body{
    background-color: #100F1F;
    margin: 2px;
    color: white;
    font-family: monospace;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #191970;
    color: white;
    width: 100%;
    border: white 2px solid;
    font-family: monospace;
    align-items: center;
}
nav h1{
    padding-left: 2%;
}

#navknoppen{
    display: flex;
    justify-content: flex-end;
    float: right;
    width: 50%;
}
#navknoppen a
{
    display: flex;
    justify-content: space-evenly;
    border: white 2px solid;
    padding: 10px;
    width: 15%;
}

#navknoppen a:hover{
    background-color: #04193b;
}
a:visited{
    color: white;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    width: 99%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

h2{
    text-align: center;
}




table{

    margin-top: 20px;
    margin-right: 2%;
    margin-left: 2%;
    border-collapse: collapse;

}
table td{
    border: white 2px solid;
    border-collapse: collapse;
}
table th{
    background: #04193b;
}

main{
    background: #242a57;
    color: white;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 10px;
    padding-bottom: 80px;
    padding-top: 10px;
    border-radius: 10px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-content: center;
}
a{
    color: white;
}




@media screen and (max-width: 480px) {

    nav {
        flex-direction: column;
    }

    #navknoppen {
        flex-direction: column;
        width: 100%;

    }

    #navknoppen a {
        width: 100%;
        padding: 2px;
    }
}