body{
     background-color: #100F1F;
     margin: 2px;
}
main{

    text-align: center;
    color: white;



}

footer{
    background-color: black;
    color: white;
    display: flex;
    width: 99%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

img{
    width: 100%;
    opacity: 0.6;
}

#mainMenuNaam{
    position: absolute;
    top: 20%;
    left: 35%;
    right: 35%;
    font-family: monospace;
    font-size: 40px;
    color: lightcyan ;
    text-shadow: black 5px 0 0;

}




nav{
    display: flex;
    justify-content: space-between;
    background-color: #191970;
    color: white;
    width: 100%;
    border: white 2px solid;
    font-family: monospace;
    align-items: center;
}
nav h1{
    padding-left: 2%;
}

#navknoppen{
    display: flex;
    justify-content: flex-end;
    float: right;
    width: 50%;
}
#navknoppen a
{
    display: flex;
    justify-content: space-evenly;
    border: white 2px solid;
    padding: 10px;
    width: 15%;
}

#navknoppen a:hover{
    background-color: #04193b;
}
a:visited{
    color: white;
}
a{
    color: white;
}


@media screen and (max-width: 480px){

    nav{
        flex-direction: column;
    }
    #navknoppen{
        flex-direction: column;
        width: 100%;

    }

    #navknoppen a{
        width: 100%;
        padding: 2px;

    }

    #mainMenuNaam{
        font-size: 20px;
        top:40%;
        text-align: center;
    }

}