body{
    background-color: #100F1F;
    margin: 2px;
    color: white;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    width: 99%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #191970;
    color: white;
    width: 100%;
    border: white 2px solid;
    font-family: monospace;
    align-items: center;
}
nav h1{
    padding-left: 2%;
}

#navknoppen{
    display: flex;
    justify-content: flex-end;
    float: right;
    width: 50%;
}
#navknoppen a
{
    display: flex;
    justify-content: space-evenly;
    border: white 2px solid;
    padding: 10px;
    width: 15%;
}

#navknoppen a:hover{
    background-color: #04193b;
}
nav a:visited{
    color: white;
}






main a:visited{
    color: blue;
}


main{
    background: #242a57;
    color: white;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 10px;
    padding-bottom: 80px;
    padding-top: 10px;
    border-radius: 10px;
    font-family: monospace;
    padding-left: 3%;
    padding-right: 3%;


}
#pxlprojectenlist{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

#pxlprojectenlist div{
    margin-bottom: 50px;
    background: #04193b;
    border-radius: 10px;
    padding-bottom: 10px;
}

#eigenproject{

    background: #04193b;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
div{
    text-align: center;


}
div img{
    width: 15%;
}


a{
    color: white;
}

h2{
    text-align: center;
}

@media screen and (max-width: 480px){

    nav{
        flex-direction: column;
    }
    #navknoppen{
        flex-direction: column;
        width: 100%;

    }

    #navknoppen a{
        width: 100%;
        padding: 2px;
    }

    #comingSoon{
        width: 50%;
        margin-left: 30%;
        margin-right: 30%;
    }

     div img{
        width: 40%;
    }

     #pxlprojectenlist{
         flex-direction: column;
     }

}

