body{
    background-color: #100F1F;
    margin: 2px;
    color: white;
    font-family: monospace;
}



a:visited{
    color: white;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    width: 99%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
#headinfo a{
    width: 15%;
}
img{
    width: 100%;
    margin: 5px;

}
img:hover{
    display: inline-block;
    top: 10px;
    box-shadow: 5px 10px #100F1F ;
}
img:active{
    border: #100F1F 5px solid;
    box-shadow: none;
    margin: 0px;
}

main{
    background: #242a57;
    color: white;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 10px;
    padding-bottom: 80px;
    padding-top: 10px;
    border-radius: 10px;


}

main p{
    margin-left: 4%;

}
table{
    margin-left: 2%;
    border-collapse: collapse;
    width: 40%;

}

table td{
    border: white 1px solid;
    padding: 1%;

}
table th{
    padding: 1%;
}

h2{
    background: cornflowerblue;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}
h3{
    padding-left: 2%;
}


#headinfo{
    border: cornflowerblue 2px solid;
    border-radius: 10px;
    margin: 2%;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;

}
#naam{
    font-size: 40px;
}


tr:nth-child(2n+1){
    background: #04193b;
}
tr:first-of-type{
    background: #242a57;
}
th{
    background: #242a57;
}

@media screen and (max-width: 480px){



    #headinfo{
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    #naam{
        font-size: revert;

    }
    #headinfo a{
        width: 40%;
    }

    main{
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }

    table th{
        padding: 10px;
    }

}


